<% if @message.message_format == "email" %>

<div class="col-md-12 col-sm-12" id="email-form-header"> 
  <h1>Edit Email</h1>
</div>

  <%= form_tag "/messages/#{@message.id}", method: :patch do %>

    <div class="email-form-container">

      <div class="row" id="email-form-row">

        <div class="col-md-6 col-sm-6" id="email-form-info">

          <div class="email-form-title">
            <%= label_tag :title %><br>
            <%= text_field_tag :title, @message.title, :id => "email-form-title-field" %>
          </div><br>

          <div class="email-form-scheduled-time">
            <%= label_tag :scheduled_time %>
            <%= datetime_local_field :message, :scheduled_time, required: true, :id => "email-form-scheduled-time-field" %>
          </div><br>

          <div class="email-form-ip">
            <%= label_tag "Message for" %>
            <%= select_tag(:important_person_id, options_from_collection_for_select(@user, "id", "full_name", @message.important_person.full_name), :id => "email-form-ip-field") %>
          </div><br>

          <div class="email-form-template">
            <%= label_tag :email_template %>
            <%= select_tag(:email_template, options_for_select([['Regular'], ['Birthday'], ['Christmas'], ['Wedding']], @message.email_template), :id => "email-form-template-field") %>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">

          <div class="email-form-message">
            <%= label_tag :user_message %>
            <%= text_area_tag :user_message, @message.user_message, :id => "email-form-message-field" %>
          </div>

        </div>
        
        <div class="col-md-12 col-sm-12" id="email-form-submit">
          <%= hidden_field_tag :message_format, :email %>
          <%= submit_tag "Edit Message", class: "btn btn-primary", id: "email-form-button" %>
        </div>
      </div>
    </div>
  <% end %>

<% elsif @message.message_format == "text" %>
  <div class="col-md-12 col-sm-12" id="text-form-header">
    <h1>Edit Text</h1>
  </div>

  <%= form_tag "/messages/#{@message.id}", method: :patch do %>

  <div class="text-form-container">

    <div class="row" id="text-form-row">

      <div class="col-md-6 col-sm-6" id="text-form-info">
        <div class="text-form-title">
          <%= label_tag :title %><br>
          <%= text_field_tag :title, @message.title, :id => "text-form-title-field" %>
        </div><br>

        <div class="text-form-scheduled-time">
          <%= label_tag :scheduled_time %>
          <%= datetime_local_field :message, :scheduled_time, :id => "text-form-scheduled-time-field" %>
        </div><br>

        <div class="text-form-ip">
          <%= label_tag "Message for" %>
          <%= select_tag(:important_person_id, options_from_collection_for_select(@user, "id", "full_name", @message.important_person.full_name), :id => "text-form-ip-field") %>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="text-form-message">
          <%= label_tag :user_message %>
          <%= text_area_tag :user_message, @message.user_message, :id => "text-form-message-field" %>
        </div>
      </div>

      <div class="col-md-12 col-sm-12" id="text-form-submit">
        <%= hidden_field_tag :message_format, :text %>
        <%= submit_tag "Edit Text", class: "btn btn-primary", id: "text-form-button" %>
      </div>
    </div>
  </div>

  <% end %>

<% end %>