<h1><%= @important_person.first_name %> <%= @important_person.last_name %></h1>
<img src="<%= @important_person.image_url %>" class="img-responsive">
<p> <%= @important_person.email %></p>
<p> <%= @important_person.phone_number %></p>

<% if @important_person.events == nil %>
  <%= form_tag '/events/new', method: :get do %>
    <%= hidden_field_tag :important_person_id, @important_person.id %>
    <% end %>
    <%= submit_tag "Create New Event" %>
<% else %>
  <%= link_to "#{@important_person.events.name}", "/events/#{@event.id}" %>
<% end %>


