<h1><%= @important_person.first_name %> <%= @important_person.last_name %></h1>
<img src="<%= @important_person.image_url %>" class="img-responsive">
<p> <%= @important_person.email %></p>
<p> <%= @important_person.phone_number %></p>
