<div class="col-md-12 col-sm-12" id="wishlist-form-header">
  <h1>Add a Wishlist Item</h1>
</div>

<%= form_tag '/wishlist_items', method: :post do %>

  <div class="wishlist-form-container">

    <div class="row" id="wishlist-form-row">

      <div class="col-md-6 col-sm-6" id="wishlist-form-item-name">
        <%= label_tag :item_name %>
        <%= text_field_tag :item_name, '', :id => "wishlist-form-item-name-field" %>
      </div>

      <div class="col-md-6 col-sm-6" id="wishlist-form-item-url">
        <%= label_tag :item_url %>
        <%= text_field_tag :item_url, '', :id => "wishlist-form-item-url-field" %>
      </div>

      <div class="col-md-6 col-sm-6" id="wishlist-form-image-url">
        <%= label_tag :image_url %>
        <%= text_field_tag :image_url, '', :id => "wishlist-form-image-url-field" %>
      </div>

      <div class="col-md-6 col-sm-6" id="wishlist-form-description">
        <%= label_tag :description %>
        <%= text_field_tag :description, '', :id => "wishlist-form-description-field" %>
      </div>

      <div class="col-md-6 col-sm-6" id="wishlist-form-ip">
        <%= label_tag "Wishlist Item for" %>
        <%= select_tag(:important_person_id, options_from_collection_for_select(@user, "id", "full_name"), :id => "wishlist-form-ip-field") %>
      </div>

      <div class="col-md-6 col-sm-6" id="wishlist-form-favorite">
        <%= label_tag :favorite %>
        <%= check_box_tag :favorite, 1, false, disabled: false, :id => "wishlist-form-favorite-field" %>
      </div>

      <div class="col-md-12 col-sm-12" id="wishlist-form-submit">
        <%= submit_tag "Add Item", class: "btn btn-primary", id: "wishlist-form-button" %>
      </div>

    </div>
  </div>

<% end %>