<h1>Create Wishlist Item</h1>

<%= form_tag '/wishlist_items', method: :post do %>

  <div class="item-name">
    <%= label_tag :item_name %>
    <%= text_field_tag :item_name %>
  </div>

  <div class="item-url">
    <%= label_tag :item_url %>
    <%= text_field_tag :item_url %>
  </div>

  <div class="wishlist-image-url">
    <%= label_tag :image_url %>
    <%= text_field_tag :image_url %>
  </div>

  <div class="wishlist-description">
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>

  <div class="favorite">
    <%= label_tag :favorite %>
    <%= hidden_field_tag :favorite %>
    <%= check_box_tag :favorite %>
  </div>

  <%= hidden_field_tag(:important_person_id, @important_person.id) %>

  <%= submit_tag "Add Item" %>

<% end %>