<div class="col-md-12 col-sm-12" id="wishlist-show-header">
  <h1>Wishlist Item for <%= @wishlist_item.important_person.full_name %></h1>
</div>

<div class="wishlist-show-container">

  <div class="row" id="wishlist-show-row">

    <div class="col-md-8" id="wishlist-show-left">
      <h1><%= @wishlist_item.item_name %></h1>

      <% if @wishlist_item.image_url == "" %>
        <p><%= link_to "Add Image URL", "/wishlist_items/#{@wishlist_item.id}/edit" %></p>
      <% else %>
        <img src ="<%= @wishlist_item.image_url %>" class="img-responsive-wishlist-show" alt="A picture has not been added for this item.">
      <% end %>

      <p><%= link_to "Return to #{@wishlist_item.important_person.full_name}\'s Profile", "/important_persons/#{@wishlist_item.important_person.id}" %></p>
    </div>
    
    <div class="col-md-4" id="wishlist-show-info">
      <% if @wishlist_item.item_url == "" %>
        <p><%= link_to "Add Item URL", "/wishlist_items/#{@wishlist_item.id}/edit" %></p>
      <% else %>
        <p><%= link_to "Buy Here", @wishlist_item.item_url %></p>
      <% end %>

      <% if @wishlist_item.description == "" %>
        <p><%= link_to "Add Description", "/wishlist_items/#@wishlist_item.id}/edit" %></p>
      <% else %>
        <p>Description: <%= @wishlist_item.description %></p>
      <% end %>

      <p><span><%= link_to "Edit Item", "/wishlist_items/#{@wishlist_item.id}/edit" %> &nbsp
      <%= link_to "Delete Item", "/wishlist_items/#{@wishlist_item.id}", method: :delete, data:{confirm: "Are you sure you want to delete this item?"} %></span></p>
    </div>

  </div>
</div>
